/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 20px;
}

/* Header Styling */
header {
    background-color: #00796b;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Appointment Form Styling */
.appointment-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.appointment-form h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #00796b;
}

.appointment-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.appointment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.appointment-form button {
    background-color: #00796b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.appointment-form button:hover {
    background-color: #004d40;
}

.appointment-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  

/* Footer Styling */
footer {
    background-color: #00796b;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

footer p {
    font-size: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    .appointment-form {
        margin: 20px;
    }
}
